<div class="custom-select">
    <ng-select [multiple]="true" [items]="cities" class="form-control"
        placeholder="Select city" [(ngModel)]="selectedCityName" (change)="onSelect()" [searchable]="true"
        [selectableGroup]="true" [closeOnSelect]="false" [selectableGroupAsModel]="false">
        <ng-template ng-label-tmp let-item="item">
            <img height="15" width="15" [src]="item.avatar" />
            <span class="countryName">{{item.name}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <img height="15" width="15" [src]="item.avatar" />
            <span class="countryName">{{item.name}}</span>
        </ng-template>
    </ng-select>
</div>